
.title{
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
}
.container{
  width: 95%;
  max-width: 1400px;
  height: 80vh;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  gap: 2rem;
  /* background-color: green; */
}
.ciudadFail{
  width: 100%;
}
@media (min-width: 768px){
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}