:root{
  --white: #fff;
  --primary: #F59E0B;
}
html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Outfit', sans-serif;
  background-image: url('/climate.jpg');
  height: 96.5vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white);
  font-style: 2rem;
  font-size: 1.6rem;
}